/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar{
    width: 6px;
  }
  ::-webkit-scrollbar-track{
    background-color:transparent;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #AAAAAA;
    border-radius: 50px;
    transition: all 1s;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: #aaaaaa8d;
    transition: all 1s;
  }